/.vs
/src/OrderManagement.UI/obj
/src/OrderManagement.UI/bin
/src/OrderManagement.Data/obj
/src/OrderManagement.Data/bin
/src/OrderManagement.Domain/obj
/src/OrderManagement.Domain/bin
/src/OrderManagement.Repository/bin
/src/OrderManagement.Repository/obj
